@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('font/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
       url('font/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'vcr_osd_monoregular';
  padding: 20px;
}

#email {
  color: #86A9C6;
}

a {
  color: #86A9C6;
}

img {
  display: block;
  margin: auto;
}

.info {
  text-align: center;
}
