body {
  padding-left: 40px;
  padding-right: 40px;
  color: #122356;
}

footer,
.videos {
  margin-right: 15px;
  margin-left: 15px;
}

a:focus, a:hover {
  color: #B51622 !important;
  text-decoration:none;
}

img {
  max-width: 100%;
}

form {
  margin-top: 20px;
}

/* Navigation */
.page-header {
  margin-top: 20px;
  position: relative;
  border-bottom-width: 2px;
}

img.logo {
  max-width: 100%;
  /*max-height: 100%;*/
}

.slogan {
  display: inline;
  /*float: right;*/

  position: absolute;
  bottom: 5px;



}
.nav-links {
  display: inline;
  /*float: right;*/

  padding-right: 0px;
  padding-left: 0px;

  position: absolute;
  bottom: 2px;
  right: 0;
}

.nav-links a {
  /*margin-left: 5px;*/
  margin-right: 13px;
  padding-left: 5px;
  margin-top: 10px;
  padding-right: 5px;
  padding-top: 5px;
  color: #122356;
  border-top: solid #B51622;
  font-size: 1.5em;
  display: inline;

}

#homeof {
  padding-right: 20px;
  text-align: center;
  color: #B51622;
}

/* Content */

.title {
  text-align: center;
  color: #B51622;
}

.textcontent {
  font-size: 1.25em;
}

.textcontent img {
  max-width: 50%;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}


/*
  -------------- Page title decoration --------------
*/
.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 592px; /* half of limiter */
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

/* Home Page Specific CSS*/

.unlimited {
  margin-top: 25px;
}

#unlimited h1 {
  color: #B51622;
  margin: 0;
}

#unlimited ul {
  font-size: 1.25em;
}

#unlimited strong {
  font-weight: 800;
}
.myths {
  margin-top: 20px;
}
.mythpics {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.mythpics img {
  display: block;
  margin: auto;
}

.mythpics p {
  text-align: center;
  padding-left: 12.5%;
  padding-right: 12.5%;
  margin-top: 10px;

  display: block;
}

.videoembed p {
  text-align: center;
}

.videos {
  background-color: #AEBBC1;
  padding: 20px;
  margin-top: 20px;
}

.videos h1 {
  margin-top: 0px;
  margin-bottom: 15px;
}

.video iframe {
  display: block;
  margin: auto;
}

.video p {
  margin-top: 5px;
}

/* Contact Form */

#submitform {
  background-color: #122356;
  float: right;
}

/* Footer */
footer {
  margin-top: 30px;
  padding: 10px;
  text-align: left;
  background-color: #B51622;
  color: white;
}

footer a {
  color: white;
  text-decoration: underline;
}
