

/* ==========================================================================
   Alesha Donuts custom styles
   ========================================================================== */

body {
  background-color: #FFE4FC;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

.picture > img,
.logo > img {
  max-width: 100%;
}

.map > img {
  max-width: 85%;
}

/* ============================
        Navigation
   ============================ */
.menu a {
  font-family: 'Spirax', cursive;
  font-size: 2.8em;
  color: #650303;
}

.navgroup {
  padding-top: 20px;
}

.navelement {
  border-top: rgb(206, 33, 45);
  border-top-style: dotted;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact {
  border-bottom: rgb(206, 33, 45);
  border-bottom-style: dotted;
}

.icons {
  padding-left: 15px;
}

.icons i {
  padding: 5px;
}

/* ============================
        Menu page
   ============================ */

.thumbnail {
  background-color: inherit;
  border: none;
}

#donuts,
#sandwiches,
#smoothies {
  border-top: rgb(206, 33, 45);
  border-top-style: dotted;
}

#donuts {
  margin-top: 30px;
}

#about_pic {
  width: 70%;
  display: block;
  margin: auto;
}

.aboutdescription {
  padding-top: 20px;
  width: 75%;
  display: block;
  margin: auto;
}
